body {
    padding: 0;
    margin: 0;
    background-color: #FFFCFA;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.H1 {
    font-size: 30px;
    font-weight: bold;
    color: #556946;
}

.linha {
    background-color: #556946;
    margin-top: -0.57%;
    width: 700px;
    height: 2px;
}

.container_input {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.input {
    width: 200px;
    background-color: transparent;
    color: black;
    height: 36px;
    border: solid #556946;
}

.select {
    display: flex;
    flex-direction: column;
}

.option {
    width: 207.8px;
    border: solid #556946;
    background-color: transparent;
    color: black;
    height: 39.5px;
    border-width: 2.5px;
}

.container_button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    border: solid #556946;
    border-radius: 50px;
    color: #967049;
    font-size: 20px;
    width: 150PX;
    height: 50px;
    font-weight: bold;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease, background-color 0.1s ease;
}

.button:hover {
    transform: scale(1.1);
    background-color: #556946;
    color: white;
}

.container_rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_informações {
    width: 450px;
    margin-left: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.H2 {
    font-size: 25px;
    font-weight: bold;
    color: #556946;
    width: 311px;
    margin-bottom: 30px;
}

.paragrafo {
    margin-top: 1px;
    font-size: 20px;
    color: #617750;
}

.container_aviso {
    margin-right: 50px;
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

.Aviso {
    font-size: 25px;
    font-weight: bold;
    color: #556946;
    width: 450px;
    display: flex;
    justify-content: center;
}

.frase_aviso {
    color: #617750;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    text-align: center;
}

.div1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 450px;
    color: #617750;
    height: 200px;
}