body {
  background-color: #E3E8EC;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: blueviolet;
}

.conteudo {
  display: inline-block;
}

.input {
  background-color: aqua;
  display: flex;
  justify-content: center;
}

.divTitulo {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}

.legenda {
  background-color: aliceblue;
}

.inputTipo {
  display: inline-block;
  justify-content: center;
  width: 100%;
  padding-left: 40px;
}

.botao {
  display: flex;
  justify-content: center;
  width: 100%; 
}